.active-aircraft {
  color: $purple-dark

  img {
    height: 150px;
    margin-bottom: 30px;
  }

  .data-row {
    width: 70%;
    display: flex;
    margin: 5px auto;
    border-bottom: 2px solid $purple-dark;

    span {
      flex: 1;
    }

    strong {
      flex: 1;
    }
  }

  @media screen and (max-width: $md) {
    img {
      height: 100px;
      margin-bottom: 20px;
    }

    .data-row {
      width: 95%;
      font-size: 14px;
      border-bottom: 1px solid $purple-dark;
    }
  }
}