.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 45px 0;

  li {
    flex: 1;
    
    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
    }
  }
}